@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root{
    --backround-color: #141115 ;
    --header-color: #EFF8E2;
    --accent-color: #8D6346;
    --text-color: black;
    --card-color: #ADA8B6;
}

body{
    font-family: "Raleway", sans-serif;
    background-color: var(--backround-color);
    color: var(--text-color);
} 

#content{
    max-width: 2000px; 
    margin: 0 0; 
    background-color: var(--card-color);
}

#head {
    display: flex;
    text-align: center;
    background-color: var(--header-color);
    border-radius: 10px;
}

main{
    padding: 1rem; 
}

ul{
    list-style: none; 
}

nav ul{
    list-style: none;
    text-align:center; 
    background-color: var(--backround-color);
    padding-inline-start: 0px;
}

header{
    padding: 1rem; 
}

header img{
    height: 150px;
    margin: 20px; 
}

header h1{
    text-align: center;
    margin-top: 40px;
    font-family: Oswald;
    color: var(--backround-color); 
}

#content nav ul{
    background-color: var(--accent-color);
}

nav ul li{
    padding: 1rem; 
    width: 100%; 
}

nav ul li:hover{
    color:black;
    background-color: var(--header-color);
}

nav ul li a {
    display: block;
    color: var(--backround-color);  
    text-decoration: none;
}

#head h1{
    width: 600px;
    margin: 50px 0px;
}

#head img{
    height: 150px; 
    border-radius: 10px;
    margin: 1rem;
}

main h2{
    text-align: center;
}

footer{
    padding: 1rem; 
    text-align: center; 
    background-color: var(--header-color);
}

footer p{
    color: var(--backround-color); 
}

#content main h2{
    text-align: center;
}

#learning{
    list-style: none;
}

.card h3{
    color: var(--backround-color); 
    margin: 0; 
    padding: 1rem; 
    background-color: var(--header-color);
}

.card {
    margin: 1rem;
    border: 1px var(--header-color) solid;
}

.card p{
    padding: 1rem; 
}

#content main hr{
    height: 3px; 
}