@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: Raleway, sans-serif;
  box-sizing: border-box;
  color: #777;
}

.header .pimg {
  width: 6em;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.header .name {
  align-self: center;
  font-family: Oswald;
  font-size: 1.1em;
  font-weight: 500;
}


ul{
  list-style: none;
}

.ul {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  
}
.ul li{
  grid-area: span;
}
